.productSort .btn-check:checked + .btn,
.productSort .btn.active,
.productSort .btn.show,
.productSort .btn:first-child:active,
.productSort :not(.btn-check) + .btn:active {
  background-color: RGB(249, 243, 241);
  border-color: RGB(249, 243, 241);
  color: RGB(58, 58, 62);
  min-width: 220px;
  width: 100%;
}

.productSort .btn:hover {
  background-color: RGB(249, 243, 241);
  border-color: RGB(249, 243, 241);
  color: RGB(58, 58, 62);
}

.productSort Button {
  background-color: RGB(249, 243, 241);
  border-color: RGB(249, 243, 241);
  color: RGB(58, 58, 62);
  min-width: 220px;
  width: 100%;
}

.productSort .dropdown-menu {
  background-color: RGB(249, 243, 241);
  min-width: 220px;
  width: 100%;
  color: RGB(58, 58, 62);
}
