.checkoutForm h2 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
}

.checkoutForm .form-label {
  font-size: 15px;
  font-weight: bold;
}

.checkoutForm Button {
  margin-top: 25px;
  width: 30%;
  background-color: RGB(45, 123, 108);
  border: RGB(45, 123, 108);
}
