.category-card {
  border: none;
}
.category-card .card-img-top {
  height: 350px;
  object-fit: cover;
  padding: 0;
}

.cardBody {
  background-color: RGB(249, 243, 241);
  border: none;
}

.category-card a {
  font-family: "Playfair Display", serif;
}
