.processPayment .list-group-item {
  background-color: RGB(249, 243, 241);
  padding: 45px 40px 45px 40px;
}

.ProceedPayment h2 {
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  color: RGB(152, 75, 44);
}

.proceedpayment-img {
  width: 100%;
}

.payment-btn {
  width: 100%;
  font-size: large;
  font-weight: bold;
  background-color: lightgrey;
}
