.myorders b {
  margin-bottom: 8px;
}

.myorders span {
  margin-bottom: 8px;
}

.myorders a {
  color: RGB(45, 123, 108);
  font-weight: bold;
}

.paystatus {
  color: RGB(45, 123, 108);
  font-weight: bold;
}

.myorders {
  background-color: RGB(249, 243, 241);
}
