.order-detail h2 {
  font-family: "Playfair Display", serif;
  color: RGB(152, 75, 44);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.order-detail p {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.order-detail .list-group-item {
  background-color: RGB(249, 243, 241);
}

.order-detail .img-fluid {
  height: 80px;
}

.order-summary h2 {
  color: RGB(152, 75, 44);
}

.order-summary Button {
  background-color: RGB(45, 123, 108);
  border: RGB(45, 123, 108);
  margin-top: 20px;
  width: 60%;
}

.order-summary Button:hover {
  background-color: RGB(45, 123, 108);
  scale: 1.1;
}

.order-summary .list-group-item {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
